# Binary executables
/phanes-dna
/phanes-dna.exe
*.exe
*.dll
*.so
*.dylib

# SQLite databases & Local Cache
*.db
*.db-journal
*.db-wal
*.dna

# Temporary and Scratch files
scratch/
tmp/
sample-js/

# IDE & OS files
.DS_Store
.idea/
.vscode/
*.swp
